{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Agent Finder</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{% static 'agentFinder/fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static 'agentFinder/style/style.css' %}">
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		
		<!--[if lt IE 9]>
		<script src="{% static 'agentFinder/js/ie-support/html5.js' %}"></script>
		<script src="{% static 'agentFinder/js/ie-support/respond.js' %}"></script>
		<![endif]-->

	</head>


	<body>
		
		<div class="site-content" >
			<header class="site-header"data-bg-image="{% static 'agentFinder/images/banner.jpg' %}">
				<div class="container" >
					<div class="row" >
						<nav>
						<div class="col-md-auto">
					<div class="branding"  >
						<a href="{% url 'agentFinder:index' %}">
						<img src="{% static 'agentFinder/images/logo.png' %}" alt="Apartments" >
						<h1 class="site-title"><a>Apartments</a></h1>
						<small class="site-description">Live better</small>
							</a>
					</div>
							</div>
						</nav>
					</div>
					<section class="banner1">
					<div class="row">
						<div class="col-md-auto"  >
							<h1 class="headtitle">Find Top Real Estate </h1>
								<h1 class="headtitle">Agents In Your Market</h1>
							<p class="tagline">We analyze millions of real estate transactions to find your perfect match.</p>
						</div>
						</div>
						<div class="row btnsellbuy">
						<div class="col-md-auto">
							<a class="buttonsell sell" href="{% url 'agentFinder:selling' %}">
								<img class="btnimg"src="{% static 'agentFinder/images/sell.png' %}">
								I'm Selling </a>
						</div>
							<div class="col-md-auto buy"  >
							<a class="buttonsell " href="{% url 'agentFinder:buying' %}">
								<img class="btnimg"src="{% static 'agentFinder/images/buy.png' %}">
								I'm Buying </a>

						</div>
						</div>


						</section>

					</div>




			</header> <!-- .site-header -->

			<main class="main-content" >
				<div class="fullwidth-block" >
					<div class="container">
						<h2 class="section-title" >How it works</h2>
						<div class="row">
							<div class="col-md-4">
								<div class="card hw" >
									<div>
									<img class="card-img-top" src="{% static 'agentFinder/images/home.png' %}" alt="">
									</div>
										<h5 class="card-title">Tell us what you’re looking for</h5>
									<h6 class="card-subtitle mb-2 text-muted"></h6>
									<div class="card-body">
										<p class="card-text">Share a few details about your home buying or selling scenario by clicking “Get Started”.
											You’ll be done in a minute, and we’ll start getting to work immediately.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card hw" >
									<div>
									<img class="card-img-top" src="{% static 'agentFinder/images/work.png' %}"alt="">
										</div>
									 <h5 class="card-title">We’ll do the legwork</h5>
									<h6 class="card-subtitle mb-2 text-muted"></h6>
									<div class="card-body">
										<p class="card-text">We’ll build your real estate profile and search our database for over 40,000
											licensed realtors to find the local pros who know exactly how to help with your situation.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card hw" >
									<div >
									<img class="card-img-top" src="{% static 'agentFinder/images/deal.png' %}"alt="">
										</div>
									 <h5 class="card-title">You meet your match</h5>
									<h6 class="card-subtitle mb-2 text-muted"></h6>
									<div class="card-body">
										<p class="card-text">We’ll set up a conversation with your licensed agent who can help get your current home listed or
											assist in finding the home of your dreams. It’s that easy! And the best part, it’s free!</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="fullwidth-block test" >
					<div class="container-fluid">
						<h2 class="section-title text-white">What is so great about us?</h2>
						<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
    <div class="row no-gutters justify-content-center">
        <div class="col-md-3">

                    <div class="img-square-wrapper">
                        <img class="testimg img-responsive" src="{% static 'agentFinder/images/card.jpg' %}" alt="Card image cap">
                    </div>
		</div>
		<div class="col-md-6">
            <div class="card cardtest ">

                    <div class="card-body cardtestbody">
                        <h4 class="card-title">134,000 clients and counting</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>


        </div>
    </div>
</div>
    </div>
    <div class="carousel-item">
      <div class="container">
    <div class="row no-gutters justify-content-center">
        <div class="col-md-3">

                    <div class="img-square-wrapper">
                        <img class="testimg img-responsive" src="{% static 'agentFinder/images/card (1).jpg' %}"  alt="Card image cap">
                    </div>
		</div>
		<div class="col-md-6">
            <div class="card cardtest">

                    <div class="card-body cardtestbody">
                        <h4 class="card-title">Agents who know YOUR area</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>


        </div>
    </div>
</div>
    </div>
    <div class="carousel-item">
		<div class="container">
    <div class="row no-gutters justify-content-center">
        <div class="col-md-3">

                    <div class="img-square-wrapper">
                        <img class="testimg img-responsive" src="{% static 'agentFinder/images/card (2).jpg' %}"  alt="Card image cap">
                    </div>
		</div>
		<div class="col-md-6">
            <div class="card cardtest">

                    <div class="card-body cardtestbody">
                        <h4 class="card-title">Make a smart investment</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>


        </div>
    </div>
</div>
    </div>
  </div>

</div>
					</div>
				</div>

				<div class="fullwidth-block" >
					<div class="container">
						<h2 class="section-title" >Brokerages you can trust</h2>
						<p class="section-para"> We work with Realtors from the nation’s top brokerages AND boutique agencies that
							specialize in particular markets so we can find the absolute best agent for you.</p>
						<div class="row brlogos">
							<div class="col-md-2">
								<div class="card brlogo" >
									<div>
									<img class="card-img-top cb" src="{% static 'agentFinder/images/br1.jpg' %}" alt="">
									</div>

								</div>
							</div>
							<div class="col-md-2">
								<div class="card brlogo" >
									<div>
									<img class="card-img-top cb" src="{% static 'agentFinder/images/br2.jpg' %}"alt="">
										</div>


								</div>
							</div>
							<div class="col-md-2">
								<div class="card brlogo" >
									<div >
									<img class="card-img-top cb" src="{% static 'agentFinder/images/br3.png' %}"alt="">
										</div>


								</div>
							</div>
								<div class="col-md-2">
								<div class="card brlogo" >
									<div >
									<img class="card-img-top cb" src="{% static 'agentFinder/images/br4.png' %}"alt="">
										</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="card brlogo" >
									<div >
									<img class="card-img-top cb" src="{% static 'agentFinder/images/br5.jpg' %}"alt="">
										</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="card brlogo" >
									<div >
									<img class="card-img-top cb" src="{% static 'agentFinder/images/br6.png' %}"alt="">
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="fullwidth-block" data-bg-color="#f0f0f0">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-5 colnum" >
<h2 class="section-title" style="font-size: 40px;" >Get free personalized advice from our friendly team.</h2>
						<p class="section-para"> Simply enter your details and we'll give you a call</p>
							</div>
							<div class="col-md-5 colnum" >
								<div class="container smallform" >
									{% if Name %}
									<div class="container">
										<div class="row justify-content-center">
											<h1  class="headtitle " >Thanks {{ Name }}!</h1>
											<p class="tagline ">We recived your information and will respond shortly</p>
										</div>
									</div>
									{% else %}
									<form action="{% url 'agentFinder:namephoneinfo_save' %}" method="POST">
										{% csrf_token %}
										<label>
											<input id="fname" name="name" type="text" placeholder="Name">
										</label>
										<label>
											<input type="text" name="number" placeholder="Phone">
										</label>
										<div class="justify-content-center">
											<input type="submit" value="Call me back!">
										</div>
									</form>
									{% endif %}

								</div>
							</div>

					</div>	
				</div>
				</div>

			</main>

			   <!-- Footer Area Start -->
    <!-- Footer -->
<footer class="page-footer footer font-small unique-color-dark">

  <div class="socialfootericon">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 footertitle">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fa fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google-plus white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fa fa-linkedin white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container  text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <a href="index.html"><img class="footerimg" src="" alt="logo"></a>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase footertitle font-weight-bold">COMPANY</h6>

        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Home</a>
        </p>
        <p>
          <a href="#!">Contact</a>
        </p>
        <p>
          <a href="#!">Client Reviews</a>
        </p>


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase footertitle font-weight-bold">Resourses</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">for Agent</a>
        </p>
        <p>
          <a href="#!">Agent Finder</a>
        </p>


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase footertitle font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> info@example.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
        <p>
          <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
    <div class="socialfootericon">
  <div class="footer-copyright footertitle text-center py-3">© 2020 Copyright:

  </div>
        </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    <!-- Footer Area End -->
		</div>

		<script src="{% static 'agentFinder/js/jquery-1.11.1.min.js' %}"></script>
		<script src="{% static 'agentFinder/js/plugins.js' %}"></script>
		<script src="{% static 'agentFinder/js/app.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		
	</body>

</html>